table {
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
}
form{
    border: 1px solid #c6c7cc;
      border-radius: 5px;
      width:500px;
      margin:0 auto;
  }
  label {
    width: 400px;
    margin-bottom: 10px;
  }
  input {
    display:block;
    height: 20px;  
    margin-bottom:10px;
  }
  .details{
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
  }
  .newuserbutton{
    float:right;
  }