<div class="navbar">
  <div class="menu">
    <div class="links">
      {{#link-to "users" class="menu-users"}}
      <h1>Users</h1>
      {{/link-to}}
      {{#link-to "books" class="menu-users"}}
      <h1>Books</h1>
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>